/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg_primary: #fafafa; 
  --bg_secondary: #e5e5e5; 
  --text: #0a0a0a; 
  --border: #cbd5e1; 
  --primary: #dc2626; 
  --secondary: #14b8a6; 
}

.dark {
  --bg_primary: #0a0a0a; 
  --bg_secondary: #262626; 
  --text: #fafafa; 
  --border: #475569; 
  --primary: #dc2626; 
  --secondary: #14b8a6; 
}

body {
  margin: 0;
}
